<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">推荐资讯</h3>
    </div>
    <div class="panel-body">
        {foreach name=":cms_list(3,10,'','id,title','is_hot desc,id desc')" item="vo" key="k"}
        <div class="media media-number">
            <div class="media-left">
                <span class="num tag">{$k+1}</span>
            </div>
            <div class="media-body">
                <a class="link-dark" href="{$vo.url}" title="{$vo.title}">{$vo.title}</a>
            </div>
        </div>
        {/foreach}
    </div>
</div>