{extend name="$main_path" /}

{block name="title_seo"}
<title>{$data.seo_title} - {~echo xn_cfg('base.sys_name')}</title>
<meta name="keywords" content="{$data.seo_keywords}">
<meta name="description" content="{$data.seo_description}">
{/block}

{block name="body"}
<main class="main-content">
    <div class="container" id="content-container">
        <div class="row">
            <main class="col-xs-12 col-md-9">
                <div class="panel panel-default article-content">
                    <div class="panel-heading">
                        <ol class="breadcrumb">
                            <li><a href="/">首页</a></li>
                            {foreach name="$parent_class_datas" item="vo"}
                            <li><a href="{:cms_class_url($vo)}">{$vo.title}</a></li>
                            {/foreach}
                        </ol>
                    </div>
                    <div class="panel-body">
                        <div class="article-metas">
                            <h1 class="metas-title" style="font-weight:bold;">{$data.title}</h1>
                            <div class="metas-body">
                                <span class="views-num">
                                    <i class="fa fa-eye"></i> {$data.view} 阅读
                                </span>
                                <span class="views-num">
                                    <i class="fa fa-clock-o"></i> {$data.create_time}
                                </span>
                            </div>

                        </div>

                        <div class="article-text">
                            {$data.content|raw}
                        </div>

                        <div class="entry-meta">
                            <ul class="article-prevnext">
                                {if condition="$prev.id"}
                                <li>
                                    <span>上一篇 &gt;</span>
                                    <a href="{$prev.url}">{$prev.title}</a>
                                </li>
                                {/if}
                                {if condition="$next.id"}
                                <li>
                                    <span>下一篇 &gt;</span>
                                    <a href="{$next.url}">{$next.title}</a>
                                </li>
                                {/if}
                            </ul>
                        </div>

                        <!--相关内容-->
                        <!--<div class="related-article">
                            <div class="row">
                                {foreach name=":cms_list($data.cid,4,'id<>'.$data.id)" item="vo"}
                                <div class="col-sm-3 col-xs-6">
                                    <a href="{$vo.url}" class="img-zoom">
                                        <div class="embed-responsive embed-responsive-4by3">
                                            <img src="{$vo.image}" alt="{$vo.title}" class="embed-responsive-item">
                                        </div>
                                    </a>
                                    <h5 class="text-center"><a href="{$vo.url}">{$vo.title}</a></h5>
                                </div>
                                {/foreach}
                            </div>
                        </div>-->
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span>相关内容</span>
                        </h3>
                    </div>
                    <div class="panel-body p-0">
                        <div class="article-list">
                            {foreach name=":cms_list($data.cid,15,'id<>'.$data.id,'id,cid,title,image,is_hot,view,create_time,update_time,content')" item="vo"}
                            <article class="article-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="{$vo.url}">
                                            <div class="embed-responsive embed-responsive-4by3 img-zoom">
                                                <img src="{$vo.image}" alt="{$vo.title}">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h3 class="article-title">
                                            <a href="{$vo.url}">{$vo.title}</a>
                                        </h3>
                                        <div class="article-intro">
                                            {$vo.content|cms_substr=300}
                                        </div>
                                        <div class="article-tag">
                                            <a href="{:cms_class_url($vo.class)}" class="tag tag-primary">{$vo.class.title}</a>
                                            <span itemprop="date">{$vo.create_time}</span>
                                            <span class="hidden-xs" itemprop="views" title="浏览次数">
                                                <i class="fa fa-eye"></i> {$vo.view} 浏览
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            {/foreach}
                        </div>
                    </div>
                </div>
            </main>

            <aside class="col-xs-12 col-md-3">
                {include file="theme1/common/aside_nav" /}
                <!--广告图片1-->
                {include file="theme1/common/aside_ad1" /}
                <!--推荐资讯-->
                {include file="theme1/common/aside_article" /}
                <!--广告图片2-->
                {include file="theme1/common/aside_ad2" /}
            </aside>
        </div>
    </div>

</main>
{/block}

{block name="js"}

{/block}